:root{
    --main-color:#2288ff;
    --second-color:#192f6a;
    --text-color:#314862;
    --bg-color:#fff;

    --box-shadow:2px 2px 18px rgb(14 52 54 / 15%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.background-image {
    background-image: url('IMAGES/tilhome2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    opacity: 0.7; 
}

.abtcont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.abtcont.h1 {
    margin-bottom: 20px;
    font-weight: bolder;
}

.abtcont .logo {
    width: 70px; 
    height: 70px; 
    border-radius: 50%; 
    vertical-align: middle; 
    margin-right: 10px; 
}
.abtcont p{
    line-height: 1.7;
}
.abtcont span{
    font-weight: bold;
}
.copyright{
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    color: var(--bg-color);
    background: var(--main-color);
 }
 